body { background: #004; }
.container { height: 300vh; }
.tulip {
  position: fixed; left: 50%; transform: translateX(-50%);
  svg {
    fill-opacity: 0; transition: fill-opacity 1s;
    &.finished { fill-opacity: 1; }
  }
}
